body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    color: black;
}

input {
    font-family: 'Roboto Mono', sans-serif;
    border-color: black;
    border-width: 1px;
    background-color: white;
    color: black;
}

input[type="text"] {
    font-family: 'Roboto Mono', sans-serif;
}

input[type="text"]:focus {
    outline: none;
}

.video_form {
    text-align: center;
}

a {
    color: black;
}

footer {
    margin-top: 10px;
    float: center;
}
