body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    color: black;
}

input {
    font-family: inherit;
    border-color: black;
    color: inherit;
    background-color: inherit;
    border-width: 1px;
    outline: none;
}

form {
    text-align: center;
}

a {
    color: black;
}

footer {
    margin-top: 10px;
    float: center;
}
