<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Download Youtube Videos.">
        <title>noyt</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>noyt</h1>
        <div class="video_form">
            <form action="/video" method="post">
                <label for="video_url">youtube video url:</label>
                <input name="video_url" id="video_url" type="text"></input>
                <input type="submit" value="OK"></input>
            </form>
        </div>
        <footer>
            created by jackdavidson
        </footer>
    </body>
</html>
