<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Download Youtube Videos.">
        <title>noyt</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <form action="/video" class="video_form" method="post">
            <label for="video_url">youtube video url:</label>
            <input name="video_url" id="video_url" type="text"></input>
            <input type="submit" value="OK"></input>
        </form>
    </body>
</html>
